body {
  background-color:#dad7cd;
  font-family: "Ropa Sans", sans-serif;
  }

/****************   Nav Section **********************/
nav {
  font-family: "Ropa Sans", sans-serif;
  display: flex;
  padding: 0 1rem;
	background-color: #588157;
  border: 2px solid #344e41;
  border-radius: 1rem;
  justify-content: space-between;
}

/***********************  Footer Section   **************************/
footer {
  font-family: "Ropa Sans", sans-serif;
	display: flex;
  padding: 1rem 1rem;
	background-color: #588157;
  border: 2px solid #344e41;
  border-radius: 1rem;
  justify-content: center;
  margin-top: 1rem;
}

/*********** Splash Page ************************/
header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
	background-color: #a3b18a;
  border: 2px solid #588157;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}

header h1 {
  font-family: "Caveat";
  color: #344e41;
  font-size: 3rem;
}

header img {
  border: 2px solid #344e41;
  size: 1rem;
  width: 16%;
  height:auto;
}

.address {
  font-family: "Ropa Sans", sans-serif;
  color: #344e41;
  font-size: 1.25rem;
  text-align: center;
}

.tagline {
  font-family: "Ropa Sans", sans-serif;
  color: #344e41;
  font-size: 1.25rem;
  text-align: center;
}

/************* Sections ********************/
hr {
  color: #344e41;
}

section h2 {
  font-family: "Ropa Sans", sans-serif;
  color: #344e41;
}

section h3 {
  font-family: "Arvo";
  color: #344e41;
  text-align: center;
}

section dl {
  display: grid;
}

section ul {
  display: grid;
  font-size: 1rem;
}

.subsection {
  font-family: "Ropa Sans", sans-serif;
  color: #344e41;
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
  border: 2px solid #588157;
  border-radius: 1rem;
  display: inline-block;
  height: 10rem;

}

section a {
  color: #588157;
  text-decoration: none;
}

section a:hover {
  color: brown;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
	gap: 3%;
	grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
}

.card img {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.card {
  background-color: #a3b18a;
  border: 2px solid #588157;
  padding: 4px;
  box-shadow: 10%;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      flex-direction: column;
      align-items: flex-start;
    }

    .three-col {
      grid-template-columns: 1fr;
      align-items: center;
      justify-content: center;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

input {
  background-color: whitesmoke;
  padding: 1rem;
}

textarea {
  background-color: whitesmoke;
  padding: 1rem;
}
